= form_for @course do |f|
  - if @course.errors.any?
    #error_explanation
      %h2= "#{pluralize(@course.errors.count, "error")} prohibited this course from being saved:"
      %ul
        - @course.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :code
    = f.text_field :code
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :subject_code
    = f.text_field :subject_code
  .field
    = f.label :prereq
    = f.text_field :prereq
  .field
    = f.label :antireq
    = f.text_field :antireq
  .field
    = f.label :crosslist
    = f.text_field :crosslist
  .actions
    = f.submit 'Save'
