%h1 Listing courses

%table
  %tr
    %th Code
    %th Description
    %th Title
    %th Subject code
    %th Prereq
    %th Antireq
    %th Crosslist
    %th
    %th
    %th

  - @courses.each do |course|
    %tr
      %td= course.code
      %td= course.description
      %td= course.title
      %td= course.subject_code
      %td= course.prereq
      %td= course.antireq
      %td= course.crosslist
      %td= link_to 'Show', course
      %td= link_to 'Edit', edit_course_path(course)
      %td= link_to 'Destroy', course, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Course', new_course_path
